@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    font-family:  "DM Sans", sans-serif;
}

.squareDiv{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 35px;
    margin-top: 33px;
    margin-left: 43px;
    scroll-behavior: smooth;
}
.squareDiv::-webkit-scrollbar{
    display: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}